@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
  --primaryColor: #22254b;
  --secondaryColor: #373b69;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

body {
  background-color: var(--primaryColor);
}

header {
  padding: 1rem 0;
  background-color: var(--secondaryColor);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
}

.logo img {
  width: 100%;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primaryColor);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: 1rem;
  color: #fff;
  font-weight: 300 !important;
}

.search:focus {
  background-color: var(--primaryColor);
}

.search::placeholder {
  color: #7375c5;
}

#main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--secondaryColor);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.4s ease;
}

.movie:hover {
  box-shadow: 0px 10px 20px rgba(204, 204, 204, 0.1);
  transition: 0.4s ease;
}

.movie img {
  width: 100%;
}

.movieInfo {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.movieInfo span {
  background-color: var(--primaryColor);
  padding: 0.25rem;
  border-radius: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.overview {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  max-height: 100%;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.movie:hover > .overview {
  transform: translateY(0);
  transition: 0.5s ease;
}


/*
adult: false
backdrop_path: "/tq3klWQevRK0Or0cGhsw0h3FDWQ.jpg"
genre_ids: (5) [12, 16, 35, 10751, 14]
id: 676705
original_language: "fr"
original_title: "Pil's Adventures"
overview: "Pil, a little vagabond girl, lives on the streets of the medieval city of Roc-en-Brume, along with her three tame weasels. She survives of food stolen from the castle of the sinister Regent Tristain. One day, to escape his guards, Pil disguises herself as a princess. Thus she embarks upon a mad, delirious adventure, together with Crobar, a big clumsy guard who thinks she's a noble, and Rigolin, a young crackpot jester. Pil is going to have to save Roland, rightful heir to the throne under the curse of a spell. This adventure will turn the entire kingdom upside down, and teach Pil that nobility can be found in all of us."
popularity: 2847.429
poster_path: "/xy6wQ09rMIN2FfWPHJXCWyRZ3P9.jpg"
release_date: "2021-08-11"
title: "Pil's Adventures"
video: false
vote_average: 7.4
vote_count: 25
*/
