.navBar a {
  color: rgb(255, 208, 0);
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}

.mainOfInfo {
  height: 600px;
  width: 100%;
}

.mainInfo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.mainInfo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,#4a0b89,rgba(74,11,137,.671));
  top: 0;
  left: 0;
}

.navBar a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 208, 0);
  transition: 0.4s linear;
}

.navBar a:hover::before {
  width: 100%;
  transition: 0.4s linear;
}

.mainInfo .container {
  display: flex;
}

.mainInfo img {
    position: relative;
    z-index: 100;
    width: 300px;
    height: 450px;
}

.mainInfo .textInfo {
  position: relative;
  z-index: 100;
  color: #fff;
  margin-left: 20px;
}


.moreInfo {
  display: flex;
  align-items: flex-start !important;
  flex-direction: column;
}

.moreInfo p {
  margin: 10px 15px;
}

.genreDiv {
  display: flex;
  align-items: center;
}

.genreDiv p {
  margin: 7px;
  word-spacing: 15px;
}

.moreInfo span {
  padding: 3px;
  border-radius: 7px;
  background-color: rgb(245, 229, 0);
  color: #4a0b89;
  font-weight: 900;
}

.textInfo h1 {
  margin-bottom: 10px;
}

.textInfo h3 {
  margin: 10px 0;
}

.watchBtn {
  display: flex;
  align-items: center;
  background-color: rgb(255, 208, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #4a0b89;
  font-size: 20px;
  font-weight: 900;
}

.moreInfo {
  display: flex;
  align-items: center;
}

.overviewText {
  text-align: justify;
}

.watchBtn svg {
  width: 35px;
  margin-right: 10px;
  fill: #4a0b89;
}

.date {
  margin: 15px 0 !important;
}

.whiteSpan {
  color: #fff !important;
  background-color: transparent !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex span:nth-of-type(1) {
  margin-right: 10px;
}

.genre {
  word-spacing: 10px;
}

.topText {
  margin-top: 10px;
  font-size: 25px;
  color: #fff;

}

.actorMain {
  width: 100%;
  overflow: hidden;
}

.actorBlock {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  padding: 10px 0 30px 0;
}

.actorBlock::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

/* Track */
.actorBlock::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  height: 10px;
  border-radius: 10px;
}

/* Handle */
.actorBlock::-webkit-scrollbar-thumb {
  background: rgb(255, 208, 0);
  border-radius: 10px;
}

.actorBox {
  width: 200px;
  margin: 5px;
}

.actorBox img {
  width: 120px;
  height: 200px;
}

.actorBox h3 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.recomodationMain {
  width: 100%;
  padding:0 0 30px 0;
  overflow: hidden;
}

.recomondBlock {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding:10px 0 30px 0;
 
}

.recomondBlock::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

/* Track */
.recomondBlock::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  height: 10px;
  border-radius: 10px;
}

/* Handle */
.recomondBlock::-webkit-scrollbar-thumb {
  background: rgb(255, 208, 0);
  border-radius: 10px;
}


.recomondBlock .recDiv{
  width: 200px;
  height: 270px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.recomondBlock .recDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width:885px) {

  .mainInfo {
    background-size: cover;
    background-position: center;

  }

  .mainOfInfo {
    height: auto !important;
  }

  .textInfo {
    margin: 0 !important;
  }

  .textInfo h1, h3 {
    text-align: center;
  }

  .genre, .date {
    margin: 10px 5px !important;
  }

  .moreInfo {
    justify-content: center;
  }

  .response {
    flex-direction: column !important;
    align-items: center;
  }

  .btnBlock {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textInfo h1 {
    font-size: 22px;
    margin-top: 5px;
  }

}

@media screen and (max-width:670px) {
  .genreDiv {
    text-align: justify;
  }

  .genreDiv  p {
    margin: 4px;
    font-size: 13px;
    text-align: justify;
  }
}

@media screen and (max-width:340px) {
  .filmIDimg {
    width: 100% !important;
  }


}

/* created by Akobir Toshtemirov */