.navBar a {
  color: rgb(255, 208, 0);
  text-decoration: none;
  position: relative;
  padding-bottom: 10px;
}

.mainOfInfo {
  height: 600px;
  width: 100%;
}

.mainInfo {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.mainInfo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,rgba(22, 0, 82, 0.76),rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.829), rgba(22, 0, 82, 0.76));
  top: 0;
  left: 0;
}

.navBar a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 208, 0);
  transition: 0.4s linear;
}

.navBar a:hover::before {
  width: 100%;
  transition: 0.4s linear;
}

.mainInfo .container {
  display: flex;
}

.mainInfo img {
    position: relative;
    z-index: 100;
    width: 300px;
    height: 450px;
}

.mainInfo .textInfo {
  position: relative;
  z-index: 100;
  color: #fff;
  margin-left: 20px;
}


.moreInfo {
  display: flex;
  align-items: flex-start !important;
  flex-direction: column;
}

.moreInfo p {
  margin: 10px 15px;
}

.genreDiv {
  display: flex;
  align-items: center;
}

.genreDiv p {
  margin: 7px;
  word-spacing: 15px;
}

.moreInfo span {
  padding: 3px;
  border-radius: 7px;
  background-color: rgb(245, 229, 0);
  color: #4a0b89;
  font-weight: 900;
}

.textInfo h1 {
  margin-bottom: 10px;
}

.textInfo h3 {
  margin: 10px 0;
}

.watchBtn {
  display: flex;
  align-items: center;
  background-color: rgb(255, 208, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #4a0b89;
  font-size: 20px;
  font-weight: 900;
}

.moreInfo {
  display: flex;
  align-items: center;
}

.overviewText {
  text-align: justify;
}

.watchBtn svg {
  width: 35px;
  margin-right: 10px;
  fill: #4a0b89;
}

.date {
  margin: 15px 0 !important;
}

.whiteSpan {
  color: #fff !important;
  background-color: transparent !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex span:nth-of-type(1) {
  margin-right: 10px;
}

.genre {
  word-spacing: 10px;
}

.topText {
  margin-top: 10px;
  font-size: 25px;
  color: #fff;

}

.actorMain {
  width: 100%;
  overflow: hidden;
}

.actorBlock {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  padding: 10px 0 30px 0;
}

.actorBlock::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

/* Track */
.actorBlock::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  height: 10px;
  border-radius: 10px;
}

/* Handle */
.actorBlock::-webkit-scrollbar-thumb {
  background: rgb(255, 208, 0);
  border-radius: 10px;
}

.actorBox {
  width: 200px;
  margin: 5px;
}

.actorBox img {
  width: 120px;
  height: 200px;
}

.actorBox h3 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.recomodationMain {
  width: 100%;
  padding:0 0 30px 0;
  overflow: hidden;
}

.recomondBlock {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding:10px 0 30px 0;
 
}

.recomondBlock::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

/* Track */
.recomondBlock::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  height: 10px;
  border-radius: 10px;
}

/* Handle */
.recomondBlock::-webkit-scrollbar-thumb {
  background: rgb(255, 208, 0);
  border-radius: 10px;
}


.recomondBlock .recDiv{
  width: 200px;
  height: 270px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.recomondBlock .recDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* The Overlay (background) */
.overlay {
   height: 100%;
  width: 0;
  position: fixed;
  z-index: 100; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden;
  transition: 0.5s; 
}

.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



.swiper {
  width: 100%;
  height: 100%;
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000 !important;
  opacity: 1;
  background: rgba(182, 182, 182, 0.603) !important;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #007aff !important;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


@media screen and (max-width:885px) {

  .mainInfo {
    background-size: cover;
    background-position: center;

  }

  .mainOfInfo {
    height: auto !important;
  }

  .textInfo {
    margin: 0 !important;
  }

  .textInfo h1, h3 {
    text-align: center;
  }

  .genre, .date {
    margin: 10px 5px !important;
  }

  .moreInfo {
    justify-content: center;
  }

  .response {
    flex-direction: column !important;
    align-items: center;
  }

  .btnBlock {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textInfo h1 {
    font-size: 22px;
    margin-top: 5px;
  }

}

@media screen and (max-width:670px) {
  .genreDiv {
    text-align: justify;
  }

  .genreDiv  p {
    margin: 4px;
    font-size: 13px;
    text-align: justify;
  }

  .swiper-slide iframe {
    width: 80%;
  }
}

@media screen and (max-width:340px) {
  .filmIDimg {
    width: 100% !important;
  }


}
/* created by Akobir Toshtemirov */